
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,600&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "variables.css";
body{
font-family: 'Open Sans', sans-serif;
}


.welcome-header{
  margin: 90px 30px;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;

}

.welcome-header__title{
  margin-bottom: 50px;
  font-size: 25px;
}

.welcome-header__text{
  width:60%;
  opacity:0.7;

}

#form-login{
display: flex;
flex-direction: column;

}
#form-login input{
  border: none;
  margin: 0px 30px;
  padding: 15px 0px;
  font-size: 18px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 20px;
  transition: border-color 0.3s ease-in-out;
  align-items: center;
}
/* not 연산자 [] 안에 있는 유형 은 적용이 안되게 설정 */
#form-login input:not([type="submit"]){
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
  }

#form-login input ::placeholder{
  color: rgba(0, 0, 0, 0.4);
  align-items: center;
}


/* cursor: progress,pointer, not-allowed  */
#form-login input:focus{
  border-color: var(--yellow);

}

#form-login input[type="submit"]{
  background-color: var(--yellow);
  cursor: pointer;
  padding:20px 0px;
}

/*  text-decoration 글위에 선을 만드는방법 */
#form-login a {
  text-align:center;
  text-decoration: none;
  color:inherit;

}
