.find-icons{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

}

.find-icons__icon{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i{
  font-size: 30px;
  margin-bottom: 20px;
}
