.find-icons{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 25px;
}

.find-icons__icon{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i{
  font-size: 30px;
  margin-bottom: 20px;
}

.Recommended-friend{
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding-top: 25px;
}

.Recommended-friend__title{
  color: var(--color-gray);
}

.Recommended-friend span{
  display: block;
  font-size: 20px;
  padding: 120px 103px;
  color: var(--color-gray);
}
