.friend-screen{
  padding: 0px var(--horizontal-space);
}

.friends-display-link{
  display: block;
  text-align: center;
  background: #FAFAFA;
  padding: 15px 0px;
  font-size: 17px;
  margin-bottom: 15px;
  margin-top: -15px;
}

.friends-display-link i{
   color: rgba(0 , 0, 0, 0.3);
}

.friends-screen__channel{
  padding-top:15px;
  margin-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}


.friends-screen__channel-header{
   color: rgba(0 , 0, 0, 0.3);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.friends-screen__channel-header text{
  margin-left: 20px;
}
