.more-suggestion{
  border-top: var(--main-border);
  padding-top: 25px;
}

.more-suggestion__icons{
  display: flex;
  margin-top: 20px;

}

.more-suggestion__icons-column{
display: flex;
flex-direction:column;
align-items:center;
margin-right: 70px;
padding-right: -10px;
}


.more-suggestion__icons-column span{
margin-top: 10px;

}
