.alt-screen-header{
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}


.alt-screen-header__column:first-child{
  margin-right: auto;

}

.alt-screen-header__column:last-child{
  margin-left: auto;
}

.alt-screen-header__title{
  font-size: 25px;
  font-weight: 600px;
}

.setting {
}
.setting__settings{
  padding: 25px 0px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.setting__settings i{
  font-size: 30px;
  margin-right: 25px;
}
.setting__settings span{
  font-size: 25px;
}
