.nav{
  background-color:#F9F9FA;
  position: fixed;
  bottom: 0px;
  width:100%;
  box-sizing: border-box;
  padding: 30px 50px;
  border-top: 1px solid rgba(123,123,123, 0.3);
}


.nav__ul{
  display: flex;
  justify-content: space-between;
}

.nav__link{
  color:#2F363E;
}
