.nav{
  background-color:#F9F9FA;
  position: fixed;
  bottom: 0px;
  width:100%;
  box-sizing: border-box;
  padding: 30px 50px;
  border-top: 1px solid rgba(123,123,123, 0.3);
}


.nav__ul{
  display: flex;
  justify-content: space-between;
}

.nav__link{
  color:#2F363E;
  position: relative;
}

.nav__notification{
  display: flex;
  color: white;
  background: tomato;
  border-radius: 13px;
  width:25px;
  height: 25px;
  position: absolute;
  justify-content: center;
  left: 20px;
  bottom: 15px;
  font-weight: 1000;
  align-items: center;
}

.nav__dot{
  display:flex;
  justify-content: center;
position: absolute;
background: tomato;
height:5px;;
width: 5px;
color: tomato;
border-radius:4px;
left: 30px;
align-items: center;
}
