
.screen-header{
  display: flex;
  justify-content: space-between;
  padding: 60px 25px 15px 30px;
  align-items: center;
  margin-bottom: 20px;

}


.screen-header__title{
font-size: 35px;
font-weight: 600;
}


.screen-header__icons span{
margin-left: 25px;
}
