.screen-header{
  display: flex;
  justify-content: space-between;
  padding: 80px 25px 0px 30px;
  align-items: center;
}


.screen-header__title{
font-size: 35px;
font-weight: 600;
}


.screen-header__icons span{
margin-left: 25px;
}
