.user-component,
.user-component__column{
  display:flex;
  align-items: center;
}

.user-component__avatar{
  width:70px;
  height: 70px;
  border-radius:30px;
  margin-left: 20px;
}

.user-component__title{
  font-weight: 600;
  font-size: 22px;
  margin-left: 15px;
}

.user-component__Subtitle{
  margin-top: 8px;
  font-size:17px;
  color: rgba(0 , 0, 0, 0.5);
}
